.gallery {
    color: white;
    margin-right: 50px;
    position: relative;
    left: 0px;
    top: -410px;
    width: 200vw;
    p {
        position: absolute;
        text-align: center;
        top: -350px;
        left: 0px;
        right: 0;
        font-size: 70vw;
        font-weight: 400px;
        line-height: 0px;
    }
    .img-group {
        position: relative;
        left: 0px;
        top: 200px;
        display: flex;
        span {
            flex: 1;
            img {
                position: relative;
                width: 40%;
            }
        }
        .gallery-img-1 {
            top: 340px;

        }
        .gallery-img-2 {
            top: 650px;
        }
        .gallery-img-3 {
            top: 340px;
        }
        .gallery-img-4 {
            top: 650px;
        }
    }
}